<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player current = "$ctrl.current"></video-player>
      
    </div>
    <div class="col-md-5">
      <video-list videos = "$ctrl.videos" handleclick="$ctrl.handleclick" current= "$ctrl.current"></video-list>
     <!--  ************************************sHi {{$ctrl.videos}} -->
    </div>
  <div>
</div>
